<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static '/static/css/login.css'%}">


</head>

<body>
    <form method="post">
        <h3 style="font-weight: bold;">LOGIN</h3>
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="pass">

        <button type="submit">Log In</button>
        <div class="bottom-div">
            <a href="{% url 'signup' %}">Create a new account</a>
            <p style="color: red;">{{error}}</p>
        </div>

    </form>
</body>

</html>